/* styles/UnderMaintenance.css */

.maintenance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--bg-primary);
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  padding: 2rem;
}

.maintenance-title {
  color: var(--text-primary);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.maintenance-message {
  font-size: 1rem;
  color: var(--text-secondary);
}